.section404 .container{
    position: relative;
}

.section404 .container .navigationBtn{
    position: absolute;
    top: 250%;
}

.section404 video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}