.calcsection{
    padding: 8rem 0 2rem 0;
    background-color: #f8f9fb;
}
.container{
    max-width: 1200px;
}

body{
    padding: 0;
    margin: 0;
}
.calcsection .clcStrip {
    display: flex;
    justify-content: center;
    padding: .8rem 1rem;
    line-height: 20px;
    align-items: center;
    background: linear-gradient(90.09deg, #f5b402 1.01%, #f2dda9 99.06%);
    color: #000;
    font-size: 18px;
}
.calcsection .clcStrip a {
    background-color: #fff;
    padding:  .6rem;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
    margin-left: .5rem;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .5px;
}
.calcsection .clcStrip strong {
   font-weight: 600;
}

@media(max-width:768px){
    .calcsection .clcStrip {
        flex-direction: column;
    }
    .calcsection .clcStrip strong {
        display: block;
        margin-bottom: 1rem;
        text-align: center;
        line-height: 1.4;
     }
}
.calcsection h1 {
    font-weight: 600;
    text-align: center;
    margin: 2rem auto;
    font-size: 1.8rem;
    color: #000;
    line-height: 1.4;
 }

 .calcsection .calculatorList {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(64, 64, 64, .1);
    border-radius: 15px;
    padding:  1rem;
    background-color: #fbfbfb;
 }

 .calcsection .calculatorList figure{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
 }
 .calcsection .calculatorList span{
   font-weight: 600;
   color: #2e2e2e;
   font-size: 1.2rem;
   margin-bottom: 1rem;
 }
 .calcsection .calculatorList p{
    font-weight: 500;
    color: #555;
    line-height: 1.4;
    font-size: .9rem;
  }
  .moreBlack{
   background-color: #f5b402;
   border-radius: 50%;
   padding: .5rem;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   transition: .3s ease-in-out;
  }

  .calcsection .calculatorList .moreBlack img{
    border-radius: 50%;
    object-fit: contain;
   }
   .calcsection .calculatorList:hover {
    background-color: #f5b4023c;
    transition: .3s ease-in-out;
 }
 .calcsection .calculatorList:hover .moreBlack{
   background-color: #fff;
 }
 .calcsection .calculatorList:hover p{
   color: #000;
  }
  .calcSingle {
   padding-top: 3rem;
   background-color: #f8f9fb;
   padding-bottom: 3rem;
}
.calcSingle .container{
 max-width: 1300px; 
 background: #fff;
padding: 3rem 4rem;
box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
border-radius: 20px;
}
.calcSingle h1{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.calcSingle .pagedesc{
    font-weight: 500;
    color: #2e2e2e;
    line-height: 1.4;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.calcSingle .formBox{
    background-color: #fbfbfb;
    padding: 32px  24px 32px 24px;
    border-radius: 12px;
    border: 1px solid #ececf1;
}
.calcSingle .formBox .inputBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}
.calcSingle .formBox .inputBox label{
   width: 300px;
   font-weight: 500;
   color: #000;
   letter-spacing: .5px;
   line-height: 1.5;
}
.calcSingle .formBox .inputBox .form-control{
    box-shadow: none;
    border-radius: 4px;
    border: 1px solid #d4d9e1;
    width: 300px;
    max-width: 100%;
    font-weight: 500;
    height: 45px;
 }
 .calcSingle .formBox .inputBox .form-control:focus{
    border: 1px solid #f5b402;
 }
 .calcSingle .formBox .inputBox .form-select{
    box-shadow: none;
    border-radius: 4px;
    border: 1px solid #d4d9e1;
    width: 300px;
    max-width: 100%;
    font-weight: 500;
    color: #2e2e2e;
    font-size: .95rem;
    height: 45px;
 }
 .calcSingle .bannerImg img{
    max-width: 100%;
    object-fit: contain;
 }
 .calcSingle .formBox .inputBox .form-select:focus{
    border: 1px solid #f5b402;
 }
 .calcBlog{
    margin-top: 1rem;
 }
 .calcBlog h2{
    font-weight: 600;
   margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #000;
    line-height: 1.4;
 }
 .calcBlog h3{
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #000;
    line-height: 1.4;
 }
 .calcBlog p{
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #2e2e2e;
    line-height: 1.4;
 }
 b{
    font-weight: 600;
    color: #000;
 }
 strong{
    font-weight: 600;
    color: #000;
 }
 .calcBlog ul li{
    list-style-type: disc;
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #2e2e2e;
    line-height: 1.4;
 }
 .calcBlog ul{
   padding-left: 20px;
 }
 .calcBlog ol li{
    list-style-type: decimal;
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #2e2e2e;
    line-height: 1.4;
 }
 .calcBlog ol {
   padding-left: 20px;
 }
 .fileItrsnippet{
    padding: 2rem 0;
 }
 .fileItrsnippet .snippet{
    margin: auto;
    width: 920px;
    background: #fbfbfb;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    padding: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
 }
 .fileItrsnippet .snippet h2{
    font-size: 42px;
    font-weight: 600;
    color: #0c2343;
    margin: 0 0 18px 0;
    line-height: 48px;
 }
 .fileItrsnippet .snippet p{
    line-height: 23px;
    font-size: 16px;
    margin-bottom: 52px;
    font-weight: 500;
 }
 .fileItrsnippet .snippet a{
    background-color: #f5b402;
    color: #2e2e2e;
    border-radius: 8px;
    padding: 1.5rem 6rem;
    font-size: 18px;
    border: none;
    line-height: 19px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
 }
 .fileItrsnippet .snippet a img{
   margin-left: .5rem;
   object-fit: contain;
   max-width: 100%;
 }
 .fileItrsnippet .snippet .fileImg{
    margin-left: .5rem;
  }
  @media(max-width:768px){
    .fileItrsnippet .snippet{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
     }
     .fileItrsnippet .snippet .fileImg{
        margin-left: 0;
        margin-bottom: 1rem;
     } 
     .fileItrsnippet .snippet .fileImg img{
      max-height: 200px;
     } 
     .fileItrsnippet .snippet a{
        padding: 1rem 1.5rem;
    }
    .fileItrsnippet .snippet h2{
        font-size: 32px;
        line-height: 1.4;
     }
     .fileItrsnippet .snippet{
       padding: 30px;
     }
  }
  /* FAQs */
 .faqs{
  padding: 3rem 0;
  background-color: #fff;
}
.faqs .sectionPara{
  font-weight: 500;
  color: #2e2e2e;
  font-size: 1rem;
  margin-left: 0;
  margin-right: 0;
}
.faqs h2{
  color: #000;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  margin-left: 0
}
.faqs .container{
  max-width: 1200px;
}

  @media(max-width:600px){
    .faqs .container{
      padding: 0;
  }
}

.faqs .accordion {
  margin: 20px 0;
}

.faqs .accordion-item {
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.faqs .accordion-header {
  padding: 15px;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 0;
}

.faqs .accordion-header::after {
  content: '+';
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s, content 0.2s;
  font-weight: 600;
  font-size: 2rem;
}

.faqs .accordion-header.active::after {
  content: '-';
  transform: translateY(-50%) rotate(180deg);
  font-weight: 600;
  font-size: 2rem;
}

.faqs .accordion-content {
  height: 0;
  overflow: hidden;
  padding: 0 15px;
  transition: height 0.5s ease-out, padding 0.5s ease-out;
}

.faqs .faqAns p{
 color: #4D4D4D;
 font-weight: 500;
 font-size: .95rem;
 margin-bottom: 1rem;
 line-height: 1.4;
}
.faqs .faqAns p:nth-of-type(1){
 border-top: 1px solid #e2e2e2;
 padding-top: 1rem;
 }
.faqs .faqAns {
  color: #4D4D4D;
  font-weight: 500;
  font-size: .95rem;
  line-height: 1.4;
 }
.faqs .faqAns ul{
  padding-left: 15px;
 }
 .faqs .faqAns ul li{
  color: #4D4D4D;
  font-weight: 500;
  font-size: .95rem;
  margin-bottom: 1rem;
  list-style-type: disc;
 }
 .faqs .faqAns ol{
  padding-left: 15px;
 }
 .faqs .faqAns ol li{
  color: #4D4D4D;
  font-weight: 500;
  font-size: .95rem;
  margin-bottom: 1rem;
  list-style-type: decimal;
 }
.faqs .faqAns .additionalPadding{
  padding-bottom: 2rem;
}
  /* waving baloon */
  .baloonBox {
    position: relative;
    display: inline-block;
}

.baloonBox img {
    display: block;
    animation: wave 3s ease-in-out infinite;
    position: relative;
    width: 100px;
    object-fit: contain;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}
.faqs .baloonBox{
    position: absolute;
    bottom: 0;
    z-index: 99;
}
.faqs .baloonBox:nth-of-type(1){
   left: 0;
   padding-left: 1rem;
}
.faqs .baloonBox:nth-of-type(2){
    right: 0;
    padding-right: 1rem;
 }


 /* ========blog===== */
 
 .businessContent{
   padding: 1rem 0;
  }

 
  .businessContent .container .contentIndex{
   max-height: 100vh;
   overflow-y: auto;
   }
   @media(min-width:991px){
     .businessContent .container .contentIndex{ 
      position: sticky;
      top: 10px;
   }
 }
 
   .businessContent .container .contentIndex::-webkit-scrollbar{
     display: none;
     }
   .businessContent .container .contentIndexHeading{
     font-weight: 600;
     color: #2e2e2e;
     margin-bottom: 1rem;
     font-size: 1.4rem;
   }
 
   .businessContent .container .contentIndex .tableOfContent ul li{
     margin-bottom: 1rem;
     padding-bottom: .5rem;
     border-bottom: 1px solid #e2e2e2;
   }
   .businessContent .container .contentIndex .tableOfContent ul li a{
     font-size: 1rem;
     color: rgb(49, 66, 89);
     font-weight: 500;
     display: -webkit-box;
     line-clamp: 1;
     -webkit-line-clamp: 1;
     -webkit-box-orient: vertical;
     overflow: hidden;
   }
   .businessContent .container .businessSnepet{
     background-color: #fff;
     border-radius: 16px;
     padding: 24px 18px !important;
     box-shadow: 0 4px 16px 2px rgba(0, 0, 0, .12);
     margin-bottom: .5rem;
 }
 .businessLicense .container .businessSnepet {
   background-color: #fafafa;
   border-radius: 16px;
   padding: 24px 18px !important;
   box-shadow: 0 4px 16px 2px rgba(0, 0, 0, .12);
   margin-bottom: .5rem;
 }
 .businessContent .container .businessSnepet img {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  object-fit: contain;
  max-width: 600px;
 }
 .businessLicense .container .businessSnepet p{
  color: #232323;
 }
 .businessContent .container .businessSnepet p{
   color: #472515;
   line-height: 1.6;
   font-weight: 500;
   font-size: 1.1rem;
   margin-bottom: 1rem;
 }
 .businessContent .container .businessSnepet p b{
   color: #000;
   font-weight: 600;
   margin-right: .5rem;
   display: inline-block;
 }
 .businessContent .container .businessSnepet ul{
   padding-left: 20px;
 }
 .businessContent .container .businessSnepet ul li {
   color: #472515;
   line-height: 1.6;
   font-weight: 500;
   font-size: 1.1rem;
   margin-bottom: .5rem;
   list-style-type: disc;
 }
 .businessContent .container .businessSnepet ol{
   padding-left: 20px;
 }
 .businessContent .container .businessSnepet ol li {
   color: #472515;
   line-height: 1.6;
   font-weight: 500;
   font-size: 1.1rem;
   margin-bottom: .5rem;
   list-style-type: decimal;
 }
 .businessContent .container .businessSnepet ul li a{
   color: #002FCF;
 }
 .businessContent .container .businessSnepet p a{
   color: #002FCF;
   display: inline-block;
 }
 .businessContent .container .businessSnepet h2{
   color: #314259;
   line-height: 1.6;
   font-weight: 600;
   font-size: 2rem;
   margin-bottom: 1rem;
 }
 .businessContent .container .businessSnepet h3{
   color: #314259;
   line-height: 1.6;
   font-weight: 600;
   font-size: 1.4rem;
   margin-bottom: 1rem;
 }
 strong{
   font-weight: 600;
   color: #000;
 }
 b{
   font-weight: 600;
   color: #000;
 }
 @media(max-width:600px){
   .businessContent .container .businessSnepet h2{
     font-size: 1.4rem;
   }
   .businessContent .container .businessSnepet h3{
     font-size: 1.2rem;
   }
   .businessContent .container .businessSnepet ol li {
     font-size: 1rem;
   }
   .businessContent .container .businessSnepet ul li {
     font-size: 1rem;
   }
   .businessContent .container .businessSnepet p{
     font-size: 1rem;
   }
 }
 .businessContent .contentIndex .tableOfContent .startBtn{
  text-align: center;
  }
  .businessContent .contentIndex .tableOfContent .startBtn button{
   border: 2px solid transparent;
   border-radius: 5px;
   cursor: pointer;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   transition-duration: .4s;
   font-weight: 600;
   background-color: #f5b402;
   width: 90%;
   outline: none;
   font-size: 1rem;
  }
  .businessContent .docSample h2 {
   text-align: left;
   font-weight: 600;
   margin: auto;
   font-size: 1.8rem;
   color: #2e2e2e;
   margin-bottom: 2rem;
 }
 .businessContent .docSample .docName {
   text-align: center;
   margin-bottom: 1rem;
 }
 .businessContent .docSample .docName span {
   font-weight: 600;
     color: #2e2e2e;
     font-size: 1.2rem;
     display: inline-block;
     padding: .4rem 1rem;
     letter-spacing: .5px;
     box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
 }
 .businessContent .docSample .imgBox {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .businessContent .docSample img {
   max-width: 100%;
   object-fit: contain;
   max-height: 300px;
 }
   
 .businessSnepet strong{
   font-weight: 700;
 }
 
 section strong{
   font-weight: 700;
 }
 
.formBox .finalResult{
    color: #04a96d;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 1.1rem;
}
.alert-danger{
  color: #d04954;
  font-weight: 500;
  font-size: .9rem;
  padding: .5rem;
}
.formBox .alert-danger button{
  color: #d04954;
  box-shadow: none;
  padding: .5rem;
  top: 3px;

}
.btcIcon{
  margin-bottom: 1rem;
}
.btcIcon img{
  object-fit: contain;
}
@media(max-width:991px){
  .calcSingle .formBox .inputBox{
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
  .calcSingle .formBox .inputBox label{
    margin-bottom: .6rem;
  }
  .calcSingle .formBox {
   margin-bottom: 1rem;
  }
  .calcSingle .bannerImg img {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
  }
  .calcSingle .formBox .inputBox .form-select {
    width: 400px;
  }
  .calcSingle .formBox .inputBox .form-control {
    width: 400px;
  }
}
.sharePage p{
  font-weight: 600;
  font-size: 1.2rem;
}

/* graph */
#piechart {
  width: 100%; 
  height: 200px; 
  overflow: hidden; 
  background-color: transparent;
  border-radius: 10px;
  margin: auto;
}



 table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  border: 1px solid #c1bcbc;
}


 thead {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

 table tr th{
  border: 1px solid #c1bcbc;
  font-weight: 600;
  line-height: 1.4;
}
table tr th, table tr td {
  font-size: 1rem;
}
 table tr td{
  border: 1px solid #c1bcbc;
  font-weight: 500;
  line-height: 1.4;
}
 table tr:nth-of-type(1) td{
  font-weight: 600;
  line-height: 1.4;
}

@media(max-width:600px){
  table tr th, table tr td {
    font-size: .75rem;
  }
}
/* justified index */

.justifiedIndex{
  border-radius: 18px;
  border: 1.5px solid rgba(9, 43, 70, 0.32);
  background: #F5F7F9;
  padding: 2rem 3rem;
  margin-bottom: 2rem;
}

.justifiedIndex h3{
  color: #092B46;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 34px;
}
.justifiedIndex .seprate_table{
  width: 92px;
  border: 5px solid;
  color: #f5b402;
  background-color: #f5b402;
  text-align: center !important;
  opacity: 1;
  margin-top: -5px;
  margin-bottom: 50px;
  border-radius: 5px;
}
.justifiedIndex .contentList{
  margin-top: 28px;
  list-style-type: disc;
  margin-left: 30px;
  text-align: left;
}
.justifiedIndex .contentList li{
margin-bottom: .5rem;
}
.justifiedIndex .contentList li a{
color: #425c71;
font-size: 1.15rem;
font-weight: 500;
}
.justifiedIndex .contentList li a:hover{
text-decoration: underline;
}
.justifiedIndex .contentList li::marker{
  color: #f5b402;
  font-size: 21px;
}
.justifiedIndex .imgBox img{
max-width: 100%;
object-fit: contain;
width: 600px;
}
@media(max-width:600px){
  .justifiedIndex{
    padding: 1.6rem 0rem;
}
.justifiedIndex .contentList li{
  margin-bottom: .6rem;
  line-height: 1.4;
}
.justifiedIndex .contentList li a{
  font-size: 1.1rem;
}
}

.targetDiv{
  display: none;
}
.rageWrapper{
  position: relative;
}
.rageWrapper svg{
  position: absolute;
  top: 35%;
  left: 10px;
}
.rageWrapper .form-control{
  padding-left: 2rem;
}
.calcSingle .setIcon{
  border-radius: 10px;
  display: inline-flex;
  padding: .8rem;
  margin-bottom: 1rem;
  background-color: #f5b402;
  fill: #fff;
}
.calcSingle .setIcon svg{
 height: 3rem;
 width: 3rem;
}
.calcArea .calcBox .form-select{
  padding: .8rem 4.5rem .8rem 1rem;
  height: 49px;
  font-size: 15px;
  outline: 0;
  border: solid 1px #cad0d8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  border-radius: 6px;
  font-weight: 500;
}

.calcArea .mainLabel{
  font-weight: 600;
}
.calcArea .mainLabel h3{
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  line-height: 18px;
  border-left: solid 5px #f5b402;
  padding-left: 1rem;
}
.calcArea .calcBox .form-label{
  font-weight: 500;
  font-size: 13px;
  display: flex;
  letter-spacing: .5px;
  min-height: 2rem;
  margin-bottom: .4rem;
 align-items: end;
}
.calcArea .calcBox .form-control{
  height: 49px;
  background: #fff;
  font-size: 15px;
  outline: 0;
  border: solid 1px #cad0d8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  border-radius: 6px;
  padding: .8rem 2rem;
  font-weight: 500;
}
.calcArea .calcBox {
  position: relative;
}
.calcArea .calcBox .rupeeIcon{
  width: 22px;
  height: 22px;
  position: absolute;
  top: 58%;
  left: 6px;
  background: #fff;
  border-radius: 50%;
  border: solid 1px #f5b402;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  display: inline-block;
}
.calcArea .calcBox .rupeeIcon img{
  width: 1rem;
  height: 1rem;
  object-fit: contain;
}
.calcArea .row{
  max-width: 100%;
  margin: auto;
}
.calcArea .calcBox .form-control:disabled{
  background: #f6f7fb;
  cursor: not-allowed;
}

.calcModal button{
  display: inline-block;
  z-index: 999;
  padding: .2rem 1rem;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  position: absolute;
  right: 15px;
  bottom: -25px;
  border: none;
  outline: none;
  font-size: .7rem;
  font-weight: 500;
  letter-spacing: .5px;
  background-color: #f5b402;
}
.calcArea .calcAll{
  text-align: center;
}
.calcArea .calcAll button{
  background-color: #f5b402d7;
  font-weight: 500;
  padding: .5rem 1rem;
  border-radius: 4px;
}
.calcArea .calcAll button:hover{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.calcArea .calcResultAll{
  display: flex;
  flex-direction: column;
  border: .5px solid #f5b402;
  background-color: #f5b4020e;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  padding:1rem  2rem;
  border-radius: 6px;
}
.calcArea .calcResultAll p{
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.calcArea .calcResultAll span{
  font-size: 30px;
  color: #56ba4b;
  font-weight: 600;
}
.calcArea .calcResultAll small{
  font-size: .8rem;
  color: #2e2e2e;
  font-weight: 400;
  display: block;
  margin-top: .5rem;
}
.calcSingle .trendingGuide{
  background: #fff;
  box-shadow: 0 0 10px 0 #ccc;
  position: relative;
  border-bottom: 5px solid #f5b402;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 10px;
  padding: 15px;
  padding-top: 5px;
}
.calcSingle .trendingGuide h3{
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 15px;
  position: relative;
  margin: 15px 0 10px 0;
  background: #f5b402;
  color: #111;
  font-weight: 500;
  padding: 10px;
}

.calcSingle .trendingGuide .newsContainer{
  height: 230px;
  overflow-x: hidden;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 0;
}
.calcSingle .trendingGuide .newsContainer ul{
  padding: 0;
}
.calcSingle .trendingGuide .newsContainer ul li{
  background: url(../images/trading-icon.webp) 12px no-repeat;
  list-style-type: none;
  background-size: 20px;
  padding: 0;
  border: 0;
}
.calcSingle .trendingGuide .newsContainer ul li div{
  font-weight: 500;
  border: 1px solid #f5f5f5;
  padding-left: 40px;
  padding-right: 10px;
  font-size: 13px;
}
.calcSingle .trendingGuide .newsContainer ul li div a{
  color: #000;
  padding: 5px 0;
  padding-left: 20px;
  width: 100%;
  display: block;
  text-decoration: none;
}
.colculatorModals .modal-content{
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
.colculatorModals .modal-header{
  border: none;
  text-align: center;
  font-weight: 600;
  padding: 2rem 0;
  display: block;
}
.colculatorModals .modal-body{
 padding-bottom: 2rem;
}
@media(min-width:991px){
  .colculatorModals .modal-body{
    padding: 0 4rem;
    padding-bottom: 2rem;
   }
}
.colculatorModals .modal-header .close{
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  background: #fff;
  position: absolute;
  top: -8px;
  right: -10px;
  opacity: 1;
  line-height: 30px;
  margin-top: -2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.4rem;
  border: none;
  outline: none;
}
.colculatorModals .closemodal{
 text-align: center;
}
.colculatorModals .closemodal button{
  background-color: #f5b402;
  font-weight: 500;
  color: #000;
  font-size: 1rem;
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-radius: 4px;
 }
.calcTable .calcArea .calcBox .form-control{
  max-width: 200px;
  height: 40px;
}
.calcTable .calcArea .calcBox .rupeeIcon{
  top: 20%;
  left: -9px;
}
.calcTable .calcArea table{
  border: none;
  background-color: #fff;
 }
.calcTable .calcArea table tr th{
 padding: .5rem 1rem;
 border: none;
 background-color: #fff;
 vertical-align: bottom;
 font-size: .8rem;
}
.calcTable .calcArea table tr td{
  padding: .5rem 1rem;
  border: none;
  background-color: #fff;
  font-size: .8rem;
 }
 .colculatorModals::-webkit-scrollbar{
  display: none;
 }
 .gratuty{
  border-left: 5px solid #f5b402;
  padding-left: 1rem;
 }
 .calculateBtn button{
  background-color: #f5b402;
  color: #000;
  font-weight: 500;
  padding: .6rem 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
 }
 .form-check-input:focus{
  box-shadow: none;
}
 .form-check-input:checked {
  background-color: #f5b402;
  border: 2px solid #f5b402;
  box-shadow: none;
}
.form-check-label{
  font-weight: 500;
  font-size: 13px;
  letter-spacing: .5px;
}
.checkContainer{
  padding: 1rem;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.suknyaCalc .sukanyaBox{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 gap: 20px;
}
.suknyaCalc .container{
  max-width: 1300px;
 }

.sukanyaBox .suknyaItem{
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .05);
    background: #fff;
    border-radius: 2px;
    padding: 2rem;
    text-align: center;
    min-height: 100%;
    width: calc(100% / 5);
}
.suknyaCalc{
  background-color: #f8f9fb;
  padding-bottom: 3rem;
}

.sukanyaBox .suknyaItem p{
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.4;
    color: #000;
}
.sukanyaBox .suknyaItem .rateValue{
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.sukanyaBox .suknyaItem .rateValue img{
  margin-right: .4rem;
}
@media(max-width:1100px){
    .sukanyaBox .suknyaItem{
      width: calc(94% / 3);
  }
  .suknyaCalc .sukanyaBox{
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
   }
}
@media(max-width:768px){
  .sukanyaBox .suknyaItem{
    width: calc(94% / 2);
}
}
@media(max-width:420px){
  .sukanyaBox .suknyaItem{
    width: 100%;
}
}
.sukanyaBox .suknyaItem.maturityAmt{
 background-color: #f5b4021b;
}
.suknyaTableBox{
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .05);
  background: #fff;
  border-radius: 2px;
  padding: 2rem 0;
  margin-top: 2rem;
  border: solid 1px #e8edef;
}
.suknyaTableBox table th, .suknyaTableBox table td{
  padding: 15px 20px;
  border: none;
}
.suknyaTableBox table th{
  font-weight: 600;
  font-size: .9rem;
}
.suknyaTableBox table td{
  font-weight: 500;
  font-size: .9rem;
}
.suknyaTableBox table{
  padding: 15px 20px;
  border-collapse: collapse;
  border: none;
}
.suknyaTableBox table tr{
  padding: 15px 20px;
}

.suknyaTableBox table tr:nth-child(odd) {
  background: #f6f8f9;
}
.suknyaTableBox table tr:nth-child(even) {
  background: #fff;
}
.suknyaTableBox .suknyaTable table thead tr{
  background-color: #fff;
 }
 .suknyaTableBox table tr:nth-of-type(1) td{
  font-weight: 500;
 }

 @media(max-width: 600px){
  .suknyaTableBox table th{
    font-size: .7rem;
  }
  .suknyaTableBox table td{
    font-size: .7rem;
  }
  .suknyaTableBox table th, .suknyaTableBox table td{
    padding: 10px 5px;
  }
}
.row{
  max-width: 100%;
  margin: auto;
}