.gstPortal{
    padding-top: 6rem;
    padding-bottom: 2rem;
}
.container{

    max-width: 1200px;
}
.gstPortal img{
    padding-top: 6rem;
    max-width: 100%;
    object-fit: contain;
}
.gstPortal .imgBox{
    position: relative;
}
.bubbleBox{
    background-color: #f5b4024c;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: smoothFloat 3s infinite ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1
}
@keyframes smoothFloat {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  .gstPortal h1{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: .5rem;
  }
  .gstPortal p{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    font-size: 1rem;
  }
  .gstPortal .btnBox{
    margin-top: 1.4rem;
    display: flex;
    gap: 10px;
  }
  .gstPortal .btnBox a{
    display: inline-flex;
    border-radius: 1.76rem;
    padding: 1rem 1rem;
    background-color: #f5b402;
    font-weight: 600;
    align-items: center;
    color: #000;
  }
  .gstPortal .btnBox a:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .gstPortal .btnBox .fstBtn{
   min-width: 190px;
  }
  .gstPortal .btnBox .fstBtn a{
    background-color: #000;
    color: #fff;
   }
  .gstPortal .btnBox a svg{
    width: 16px;
    height: 16px;
    margin-left: .5rem;
    transition: .4s ease-in-out;
  }

  .gstPortal .btnBox a:hover svg{
    margin-left: 1rem;
  }
  .solutionFor{
    padding: 2rem 0;

 }
 .solutionFor h2{
   text-align: center;
   font-weight: 600;
   font-size: 2.4rem;
   margin-bottom: 2rem;
 }
 .solutionFor h2 span{
   color: #f5b402;
   text-transform: uppercase;
   border-bottom: 3px solid #f5b402;
  }
 .solutionFor .solutionItem{
    padding: 35px;
    box-shadow: 0 .125rem .375rem rgba(0, 0, 0, .05), 0 .5rem 1.2rem rgba(0, 0, 0, .1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100%;
    transition: transform .3s ease-in-out;
}
.solutionFor .solutionItem:hover{
  transform: translateY(-10px);
}
.solutionFor .solutionItem .icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: .5rem;
  background-color: #f5b40226;
  margin-bottom: 2rem;
}
   
.solutionFor .solutionItem .icon img{
    width: 60px;
    height: 60px;
  }
  .solutionFor .solutionItem h3{
    font-weight: 600;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #000;
}  
.solutionFor .solutionItem p{
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #495057;
    line-height: 1.6;
}  
.whyUs{
    padding: 2rem 0;
}
.whyUs h2{
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    line-height: 1.5;
}
.whyUs .whyUsItem{
    box-shadow: rgba(0, 82, 224, 0.12) 0px 2px 4px 0px;
    border: 2px solid rgb(238, 245, 255);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    padding: 22px;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
.whyUs .whyUsItem h3{
   font-weight: 600;
   font-size: 1.4rem;
   margin-bottom: 1rem;
}
.whyUs .whyUsItem img{
    object-fit: contain;
    width: 100px;
    height: 50px;
    margin-bottom: 1rem;
 }
 .whyUs .whyUsItem p{
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    color: #495057;
    line-height: 1.6;
 }


 @media(max-width:768px){
  .bubbleBox{
    width: 500px;
    max-width: 100%;
    overflow: hidden;
  }
 }
 @media(max-width:600px){
  .gstPortal h1 {
   font-size: 2rem;
   text-align: center;
  }
  .bubbleBox{
    width: 500px;
    max-width: 100%;
    overflow: hidden;
  }
 }
 @media(max-width:500px){
  .bubbleBox{
    width: 300px;
  }
 }
 @media(max-width:300px){
  .bubbleBox{
    width: 290px;
  }
 }
 @media(max-width:600px){
    .gstPortal .btnBox .fstBtn {
      min-width: fit-content;
  }
  .gstPortal .btnBox a {
   font-size: .8rem;
   padding: 1rem .5rem;
}
  .whyUs h2 {
    font-size: 2rem;
  }
  .btnBox{
    margin-bottom: 1rem;
  }
 }
 .allGst{
  padding: 2rem 0;
 }
 .allGst .allBox{
  max-width: 800px;
  margin: auto;
 }
 .allGst h2{
 font-weight: 600;
 font-size: 2.4rem;
 margin-bottom: 2.6rem;
 text-align: center;
 line-height: 1.4;
 }
 .allGst .allBox .allItem{
  box-shadow: 0.00px 2.00px 9px 5px rgba(0,0,0,0.15), 0 1px 4px rgba(0, 0, 0, .6);
  height: 4rem;
  -moz-border-radius: 1em 4em 1em 4em;
  border-radius: 1em 4em 1em 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #f7f7f7;
  transition: border-radius .3s ease-in-out;
  cursor: pointer;
 }
 .allGst .allBox .allItem:hover{
  border-radius: 4em 1em 4em 1em;
  -moz-border-radius: 4em 1em 4em 1em;
 }
 @media(max-width:600px){
  .allGst h2{
    font-size: 1.6rem;
  }
 }

/* review */
.clientReview{
  padding: 2rem 0;
}
.clientReview h2{
  font-weight: 600;
 font-size: 2.4rem;
 margin-bottom: 2.6rem;
 text-align: center;
 line-height: 1.4;
}
 .clientReview .carousel-inner {
  padding:  0 4rem;
}
.clientReview .carousel-item .reviewContainer{
  display: flex;
  flex-direction: row;
  align-items: stretch; 
  gap: 20px;
}
.clientReviewBox{
  padding: 1rem .65rem;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  min-height: 250px;
}

.clientReview .reviewContainer > .clientReviewBox{
  flex: 1;
}

.carouselControlBtn span svg{
  width: 32px;
  height: 32px;
}
.carouselControlBtn{
 display: none;
}
.carouselControlBtn{
  display: none;
 }
#clientReview:hover .carouselControlBtn{
  display: flex;
} 
.carouselControlBtn.carousel-control-prev{
  justify-content: flex-start;
}
.carouselControlBtn.carousel-control-next{
  justify-content: flex-end;
}
.clientReview .reviewHead {
 display: flex;
 
}
.clientReview .reviewHead .avt span{
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
}
.clientReview .reviewHead .avt span{
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
}
.clientReview .reviewHead .avt{
margin-right: .5rem;
}

.clientReview .reviewHead .name p{
  font-weight: 600;
  font-size: .9rem;
  }
  .clientReview .reviewHead .name p svg{
    width: .9rem;
    fill: #f5b402;
  }
  .clientReview .reviewHead .name small{
    font-weight: 500;
    font-size: .8rem;
  }
  .clientReview .reviewTxt{
    margin-top: .5rem;
    margin-bottom: 1rem;
  }
  .clientReview .reviewTxt p{
    font-weight: 500;
    font-size: .75rem;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .clientReview .reviewGoogle{
    display: flex;
  }
  .clientReview .reviewGoogle .gglIcon{
    width: 50px;
    object-fit: contain;
  }
  .clientReview .reviewGoogle .star p{
   font-weight: 600;
   font-size: .86rem;
   margin-bottom: .1rem;
  }
  .clientReview .reviewGoogle .star small{
    color: #f0b612;
    font-weight: 500;
    font-size: .8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
   }
   .clientReview .reviewGoogle .star small img{
   margin-left: .2rem;
   }
   @media(max-width:991px){
    .reviewContainer .clientReviewBox:nth-of-type(3){
      display: none;
    }
   }
   @media(max-width:768px){
    .reviewContainer .clientReviewBox:nth-of-type(2){
      display: none;
    }
   }
   @media(max-width:600px){
    .clientReview .carousel-inner {
      padding: 0 2rem;
    }
  }
  /* ========= */
  .ourSecurity{
    padding: 0 2rem;
  }
  .ourSecurity h2{
    font-weight: 600;
    font-size: 2.4rem;
    margin-bottom: .5rem;
    text-align: center;
    line-height: 1.4;
    color: #000;
  }
  .ourSecurity h2 span{
   color: #f5b402;
   border-bottom: 3px solid #f5b402;
  }
  .ourSecurity h2 img{
  object-fit: contain;
  }
  .ourSecurity .isoSecurity{
   display: flex;
   justify-content: center;
  }
  .ourSecurity .isoSecurity img{
    width: 600px;
  }
   .ourSecurity p{
    width: 500;
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 1rem;
   }