    #main-container{
        margin: auto;
    }
    .ratingBlock img{
        width: 20px;
    }
    .ratingBlock span{
        font-size: 14px;
        font-weight: 600;
    }
    .ITR_Block button i{
        transition: 0.1s ease-in;
    }
    .ITR_Block button{
        cursor: pointer;
    }
    .ITR_Block button:hover i{
        transform: rotate(90deg);
    }
    .ITR_Block .badge{
        background: #e7fae4;
        color: #197e37;
    }
    .box-ItrFile,.box-hire{
        background: url("https://tax2win.in/assets-new/img/new-theme/service-element1-copy.svg") left bottom no-repeat #5585b6;
    background-size:60%;
    /* position: relative; */
    }
    .box-ItrFile img,.box-hire img{
        width: 50px;
    }
    .box-hire{
        background: url("https://tax2win.in/assets-new/img/new-theme/service-element2-copy.svg") right bottom no-repeat #298f01;
    }
    .box-hire h4,.box-ItrFile h4{
        font-size: 20px;
    }   
    .fileBtn{
        font-size: 13px;
    }
    .box-ItrFile p,.box-hire p{
        font-size: 13px;
    }
    .box-hire img {
        width: 58px;
    }
    .fileItrNowBtn,.bookEcaBtn,.refund-status-btn,.taxExpertsBtn,.benefitBlockBtn{
    border-radius: 70px;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    padding: .6rem 1.5rem;
    background: #fff;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    width: max-content;
    }
    .benefitBlockBtn{
        background-color: #298f01;
        color: #fff;
        
    }
    .fileBtn{
        border-radius: 70px;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    padding: .6rem 4rem;
    display: inline-flex;
    align-items: center;
    }
    .refundStatusBlock div{
        padding: 20px;
    }
    .itrBlock h6,.refundStatusBlock p{
        font-size: 16px;
    }
    .itrBlock p{
        font-size: 13px;
    }
.taxEfiilingContainer{
    background: #f2fff7;
    padding: 2rem 0 4rem 0;
}
.taxEfiilingBlock li{
    width: 48%;
    line-height: 23px;
}
.taxEfiilingBlock li b{
    font-size: 19.5px;
}
.taxEfiilingBlock li span{
    font-size: 13px;
}
.taxEfiilingBlock .read-more-btn{
    font-size: 15px;
}
.taxEfiilingBlock .read-more-btn i{
    font-size: 11px;
    border-color: #000!important;
}
.we-offer-block .weOfferBlock_bg{
    background-image: linear-gradient(180deg,#eff7fb 0,#f8fafc 100%);
}
.TPS_Block{
    margin-top: 15px;
    color: #fff;
    padding: 35px;
    background: url('https://tax2win.in/assets-new/img/new-theme/service-element2.svg') right bottom no-repeat #5585b6;
    position: relative;
    width: 60%;
    margin: .6rem 0;
}
.ITNA_Block,.ITR_U-block{
    padding: 35px;
    margin: .6rem 0;
    background: #fff;
    border: 1.5px solid #e7eaee;
    box-shadow: 0 0 40px rgba(0,0,0,.05);
    border-radius: 20px;
    width: 40%;
}
.ITR_U-block{
    width: auto;
    height: 100%;
}
.ITR_U-block img{
    margin-bottom: 10px;
}
.ITR_U-block p{
    font-size: 14px!important;
    line-height: 22px;
}
.we-offer-block p{
    font-size: 16px;
}
.weOfferBlock_bg .popularServicesHead{
    letter-spacing: 0.5px;
}
.weOfferBlock_bg i{
    font-size: 13px;
}
.benefitsBox .benefits_block{
    padding: 4rem 0;
    background: url('https://tax2win.in/assets-new/img/new-theme/benefits_element.svg') right bottom no-repeat #edf2f8;
}
.incomeTaxBlock .incomeTax_bg,.incomeTaxBlock .box2{
        border-radius: 12px;
    padding: 1rem;
    border-bottom: solid 1px #ddd;  
      background: #fff;
}
.incomeTaxBlock .incomeTax_bg figure img{
    border-radius: 12px;
    margin-bottom: 10px;
}
.incomeTaxBlock .incomeTax_bg a,.incomeTaxBlock .itc_guidelines_Block a{
    border-radius: 12px;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}
.incomeTaxBlock .itc_guidelines_Block a{
    background: url('https://tax2win.in/assets-new/img/new-theme/g_ghost_arrow.svg') 25px center no-repeat;
    transition: all .5s;
    border-radius: 12px;
    padding: 0.6rem 1.4rem;
    padding-left: 4rem;
    background-size: 20px;
    display: flex;
    font-size: 16px;
}
.FAQs_Block .accordion-header{
    cursor: pointer!important;
}
.FAQs_Block button{
    font-family: Poppins, sans-serif;
    box-shadow: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #2e3846;
    background-color: transparent!important;
    box-shadow: none!important;
}
.FAQs_Block .accordion-body{
    color: #323f50;
    font-size: 14px;
    line-height: 25px;
    padding-top: 0;
}
.FAQs_Block .accordion-item{
    border: none;
}
.FAQs_Block ul li,.FAQs_Block ol li{
    line-height: 30px;
    font-size: 14px;
    list-style-type: inherit;
}
.FAQs_Block p{
    font-size: 15px;
    margin-bottom: 10px;
}
.FAQs_Block ul li{
    list-style-type:disc;
}
.FAQs_Block ol li{
    list-style-type:numeric;
}
.FAQs_Block ul li b{
   font-weight: 700;
}
@media(max-width:992px) {
    .ITR_Block .flexBlock{
        flex-wrap: wrap;
    }
}
@media(max-width:768px) {
    .ITNA_Block, .ITR_U-block{
        width: 100%;
    }
}
/* setting Standard */
.settingStandard{
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  padding: 3rem 0;
  font-family: 'Montserrat', sans-serif;
}
.settingStandard h2{
  color: #fff;
 font-size: 2.6rem;
 font-weight: 600;
 font-family: 'Montserrat', sans-serif;
 margin-bottom: 1rem;
}

.settingStandard .svgIcon{
  margin-bottom: .8rem;
  text-align: center;
}
.settingStandard h3{
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
  margin-bottom: .8rem;
}
.settingStandard p{
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  margin-bottom: .5rem;
  line-height: 1.4;
}







/* Discount banner */
.container{
    max-width: 1300px;
}
.discoutBanner{
    padding-top: 50px;
}
.discoutBanner a{
   display: block;
}
.discoutBanner img{
    max-width: 100%;
    object-fit: contain;
}
@media(max-width:600px){
    .discoutBanner{
        padding-top: 60px;
    }
}
.whatWeDo{
    padding: 4rem 0;
}
.whatWeDo .container{
    max-width: 1300px;
}
.whatWeDo .sectionDesc h2{
    font-weight: 600;
    color: #000;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.4;
}
.whatWeDo .sectionDesc p{
    font-weight: 500;
    color: #000;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    max-width: 600px;
    margin: auto;
    line-height: 1.8;
}
.whatWeDo img{
   max-width: 100%;
   object-fit: contain;
}
.whatWeDo .rightService{
    display: flex;
    flex-direction: column;
 }
 .whatWeDo .leftService{
    display: flex;
    flex-direction: column;
 }


 .whatWeDo .leftService .destItem{
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row-reverse;
    margin-bottom: 2rem;
 }
 .whatWeDo .leftService .destItem img{
   width: 200px;
   height: 100px;
 }

 .whatWeDo .leftService .destItem h3{
    font-weight: 600;
    color: #000;
    font-size: 1rem;
   line-height: 2;
    text-align: right;
 }
 .whatWeDo .leftService .destItem p{
    margin-top: .5rem;
    margin-bottom: 0;
    color: #999;
    text-align: right;
    font-weight: 500;
    line-height: 1.6;
    font-size: .85rem;
 }
 .whatWeDo .leftService .destItem .descContent{
    padding-right: .5rem;
    width: 400px;
 }

 .whatWeDo .rightService .destItem{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    margin-bottom: 2rem;
 }
 .whatWeDo .rightService .destItem .img img{
   width: 200px;
   height: 100px;
 }

 .whatWeDo .rightService .destItem h3{
    font-weight: 600;
    color: #000;
    font-size: 1rem;
   line-height: 2;
    text-align: left;
 }
 .whatWeDo .rightService .destItem p{
    margin-top: .5rem;
    margin-bottom: 0;
    color: #999;
    text-align: left;
    font-weight: 500;
    line-height: 1.6;
    font-size: .85rem;
 }
 .whatWeDo .rightService .destItem .descContent{
    padding-left: .5rem;
    width: 400px;
 }
 /* our software and services */
 .sectionHeading{
    font-weight: 600;
    font-size: 1.8rem;
    color: #000;
    line-height: 1.4;
    margin-bottom: 3rem;

 }
 .ourSoftware{
    padding: 1rem 0;
    padding-bottom: 2rem;
 }

 .ourSoftware .softwareCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #fbfcfe;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding-top: 0;
    max-width: 370px;
    margin-bottom: 3rem;
    transition: all .3s ease;
 }
 .ourSoftware .softwareCard:hover{
    background-color: #fef3e153;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
 }
 .ourSoftware .softwareCard img{
    max-width: 98%;
    display: block;
    margin: auto;
    max-height: 130px;
    border-radius: 5px;
    margin-bottom: .2rem;
 }
 .ourSoftware .softwareCard h3{
   font-weight: 600;
   color: #2e2e2e;
   margin-bottom: .8rem;
   font-size: 1.2rem;
   text-transform: uppercase;
   
 }
 .ourSoftware .softwareCard p{
    font-weight: 500;
    color: rgba(144, 146, 163, 1);
    font-size: .95rem;
    line-height: 1.6;
  }
  .ourSoftware .exploreMore{
    margin-top: 2rem;
  }
  .ourSoftware .exploreMore a{
    padding: 1rem 2rem;
    background-color: #f5b402;
    border-radius: 5px;
    display: inline-block;
    font-weight: 600;
    color: #fff;
    letter-spacing: .5px;
  }
  .oneStop{
    padding: 3rem 0;
  }
  .oneStop .container{
    max-width: 1300px;
  }
  .oneStop .container h2{
    color: rgb(49, 66, 89);
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: .5px;
    line-height: 1.5;
  }
  .oneStop h2 span{
    color: #f5b402;
  }
  .flip-container {
    perspective: 1000px;
    display: inline-block;
    margin: 10px 0;
    width: 100%;
  }

  .flipper {
    width: 100%;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    display: block;
  }
.oneStop .destPara{
    font-weight: 600;
    line-height: 1.8;
    font-size: 1.1rem;
    margin-top: 1rem;
    color: rgba(144, 146, 163);
}
  .flip-container:hover .flipper {
    transform: rotateY(180deg);
  }

  .front,
  .back {
    width: 100%;
    height: 290px;
    position: absolute;
    backface-visibility: hidden;
  }

  .oneStop .front {
    background-color: rgb(247, 248, 250);
    border: 1px solid rgb(241, 242, 246);
    border-radius: 20px;
  }
 .oneStop .front {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1.5rem;
  }
  .oneStop .front .flipName{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
  }
  .oneStop .front .flipName p{
   font-weight: 700;
   font-size: 1.8rem;
   color: rgba(49, 66, 89, 1);
   line-height: 1.5;
  }
  .oneStop .back{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }
  .oneStop .back .flipPara p{
    font-weight: 600;
    font-size: 1.3rem;
    color: #fff;
    line-height: 1.6;
   }
   .oneStop .back .flipPara:nth-of-type(2){
    display: flex;
    align-items: flex-end;
   }
   .oneStop .front .gifi{
    margin-top: 1rem;
   }
  .oneStop .front .gifi img{
    max-width: 100%;
    height: 150px;
   }

  .back {
    transform: rotateY(180deg);
    background-color: #fff;
    border: 1px solid rgb(241, 242, 246);
    padding: 2rem;
    border-radius: 20px;
  }
  /* professional services */
  .expertServices{
    padding: 2rem 0;
    background-color: #fafafa;
  }
  .expertServices h2{
    font-weight: 700;
    color: rgb(49, 66, 89);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .expertServices .sectionPara {
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.2rem;
    color: rgba(144, 146, 163);
    text-align: center;
    max-width: 900px;
    margin: auto;
    margin-bottom: 1.4rem;
}
.expertServices .for {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: #000;
}
@media(min-width:991px){
    .expertServices .for {
        padding-left: 2.5rem;
    }
}
.expertServices .expertItem {
    width: 350px;
    background-color: #fff;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: .3s ease;
}
.expertServices .expertItem img{
    height: 140px;
    margin-bottom: .5rem;
}
.expertServices .expertItem:hover{
   background-color: #f0f2fe;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.expertServices .expertItem .desc h3{
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #000;
}
.expertServices .expertItem .desc p{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: rgba(144, 146, 163);
  }