
/* Discount banner */
body{
background-color: #fff;
}
.container{
max-width: 1200px;
}
.discoutBanner{
padding-top: 50px;
}
.discoutBanner a{
display: block;
}

.discoutBanner img{
max-width: 100%;
display: block;
margin: auto;
}

@media(min-width:991px){
.discoutBanner img{
height: 570px;
object-fit: cover;
}
}

@media(min-width:768px) and (max-width:991px){
.discoutBanner img{
height: 380px;
object-fit: cover;
}
}

@media(max-width:600px){
.discoutBanner{
  padding-top: 60px;
}
}

.whatWeDo{
padding: 4rem 0;
}
.whatWeDo .container{
max-width: 1300px;
}
.whatWeDo .sectionDesc h2{
font-weight: 600;
color: #000;
font-size: 2rem;
text-align: center;
margin-bottom: 2rem;
line-height: 1.4;
}
.whatWeDo .sectionDesc p{
font-weight: 500;
color: #000;
font-size: 1rem;
text-align: center;
margin-bottom: 2rem;
max-width: 600px;
margin: auto;
line-height: 1.8;
}
.whatWeDo img{
max-width: 100%;
object-fit: contain;
}
.whatWeDo .rightService{
display: flex;
flex-direction: column;
}
.whatWeDo .leftService{
display: flex;
flex-direction: column;
}


.whatWeDo .leftService .destItem{
display: flex;
align-items: center;
justify-content: right;
flex-direction: row-reverse;
margin-bottom: 2rem;
}
.whatWeDo .leftService .destItem img{
width: 200px;
height: 100px;
}

.whatWeDo .leftService .destItem h3{
font-weight: 600;
color: #000;
font-size: 1rem;
line-height: 2;
text-align: right;
}
.whatWeDo .leftService .destItem p{
margin-top: .5rem;
margin-bottom: 0;
color: #575766;
text-align: right;
font-weight: 500;
line-height: 1.6;
font-size: .85rem;
}
.whatWeDo .leftService .destItem .descContent{
padding-right: .5rem;
width: 400px;
}

.whatWeDo .rightService .destItem{
display: flex;
align-items: center;
justify-content: left;
flex-direction: row;
margin-bottom: 2rem;
}
.whatWeDo .rightService .destItem .img img{
width: 200px;
height: 100px;
}

.whatWeDo .rightService .destItem h3{
font-weight: 600;
color: #000;
font-size: 1rem;
line-height: 2;
text-align: left;
}
.whatWeDo .rightService .destItem p{
margin-top: .5rem;
margin-bottom: 0;
color: #575766;
text-align: left;
font-weight: 500;
line-height: 1.6;
font-size: .85rem;
}
.whatWeDo .rightService .destItem .descContent{
padding-left: .5rem;
width: 400px;
}
/* our software and services */
.sectionHeading{
font-weight: 600;
font-size: 2.4rem;
color: #000;
line-height: 1.4;
margin-bottom: 3rem;

}
.ourSoftware{
padding: 1rem 0;
padding-bottom: 2rem;
}

.ourSoftware .softwareCard{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 20px 30px;
border-radius: 5px;
background-color: #fbfcfe;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
padding-top: 0;
max-width: 370px;
margin-bottom: 3rem;
transition: all .3s ease;
}
.ourSoftware .softwareCard:hover{
background-color: #fef3e153;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.ourSoftware .softwareCard img{
max-width: 98%;
display: block;
margin: auto;
max-height: 130px;
border-radius: 5px;
margin-bottom: .2rem;
}
.ourSoftware .softwareCard h3{
font-weight: 600;
color: #2e2e2e;
margin-bottom: .8rem;
font-size: 1.2rem;
text-transform: uppercase;

}
.ourSoftware .softwareCard p{
font-weight: 500;
color: #575766;
font-size: .95rem;
line-height: 1.6;
}
.ourSoftware .exploreMore{
margin-top: 2rem;
color: #000;
}
.ourSoftware .exploreMore a{
padding: 1rem 2rem;
background-color: #f5b402;
border-radius: 5px;
display: inline-block;
font-weight: 600;
color: #000;
letter-spacing: .5px;
}
.oneStop{
padding: 3rem 0;
}
.oneStop .container{
max-width: 1300px;
}
.oneStop .container h2{
color: rgb(49, 66, 89);
font-weight: 700;
font-size: 3rem;
letter-spacing: .5px;
line-height: 1.5;
}
.oneStop h2 span{
color: #215F2F;
}
.flip-container {
perspective: 1000px;
display: inline-block;
margin: 10px 0;
width: 100%;
}

.flipper {
width: 100%;
height: 300px;
position: relative;
transform-style: preserve-3d;
transition: transform 0.6s;
display: block;
}
.oneStop .destPara{
font-weight: 600;
line-height: 1.8;
font-size: 1.1rem;
margin-top: 1rem;
color: #535464;
}
.flip-container:hover .flipper {
transform: rotateY(180deg);
}

.front,
.back {
width: 100%;
height: 290px;
position: absolute;
backface-visibility: hidden;
}

.oneStop .front {
background-color: rgb(247, 248, 250);
border: 1px solid rgb(241, 242, 246);
border-radius: 20px;
}
.oneStop .front {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
padding: 0 1.5rem;
}
.oneStop .front .flipName{
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: space-between;
width: 100%;
}
.oneStop .front .flipName p{
font-weight: 700;
font-size: 1.8rem;
color: rgba(49, 66, 89, 1);
line-height: 1.5;
}
.oneStop .back{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.oneStop .back .flipPara p{
font-weight: 600;
font-size: 1.3rem;
color: #fff;
line-height: 1.6;
}
.oneStop .back .flipPara:nth-of-type(2){
display: flex;
align-items: flex-end;
}
.oneStop .front .gifi{
margin-top: 1rem;
}
.oneStop .front .gifi img{
max-width: 100%;
height: 150px;
}

.back {
transform: rotateY(180deg);
background-color: #fff;
border: 1px solid rgb(241, 242, 246);
padding: 2rem;
border-radius: 20px;
}
/* professional services */
.expertServices{
padding: 2rem 0;
background-color: #fafafa;
}
.expertServices h2{
font-weight: 700;
color: rgb(49, 66, 89);
font-size: 2.5rem;
text-align: center;
margin-bottom: 1rem;
}
.expertServices .sectionPara {
font-weight: 600;
line-height: 1.5;
font-size: 1.2rem;
color: #575766;
text-align: center;
max-width: 900px;
margin: auto;
margin-bottom: 1.4rem;
}
.expertServices .for {
font-weight: 600;
margin-bottom: 1rem;
font-size: 1.6rem;
color: #000;
}
@media(min-width:991px){
.expertServices .for {
  padding-left: 2.5rem;
}
}
.expertServices .expertItem {
width: 350px;
background-color: #fff;
display: flex;
text-align: center;
flex-direction: column;
padding: 20px 30px;
border-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
transition: .3s ease;
}
.expertServices .expertItem img{
height: 140px;
margin-bottom: .5rem;
}
.expertServices .expertItem:hover{
background-color: #f0f2fe;
box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.expertServices .expertItem .desc h3{
font-weight: 600;
margin-bottom: 1rem;
font-size: 1.2rem;
color: #000;
}
.expertServices .expertItem .desc p{
font-weight: 500;
font-size: 1rem;
line-height: 1.4;
color: #575766;
}
/* serviceTag */
.searchPanel{
  position: relative;
  z-index: 99;
}
.serviceTag{
padding: 6rem 0 4rem 0;
}
.searchPanel h4{
font-weight: 600;
color: #000;
font-size: 2rem;
text-align: center;
margin-bottom: 2rem;
line-height: 1.4;
}
.searchPanel .search-bussiness{
border: 1px solid #e3e3e3;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 1.76rem;
width: 60%;
margin: auto;
background-color: #fff;
}

.searchPanel .search-bussiness input{
width: 90%;
height: 2.4rem;
font-family: 'Montserrat', sans-serif;
font-size: .95rem;
color: #222;
letter-spacing: .5px;
border: none;
outline: none;
border-radius: 1.76rem;
padding-left: .5rem;
}
#pageSearch::placeholder{
color: #666;
font-weight: 500;
}
.searchPanel .search-bussiness button{
background-color: transparent;
outline: none;
border: none;
padding: .5rem 1rem;
}
.dashboardHome .trandingServices{
display: flex;
justify-content: center;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
}
@media(max-width:991px){
.searchPanel .search-bussiness{
width: 80%;
}
}
@media(max-width:600px){
.searchPanel .search-bussiness{
width: 95%;
}
}
.trandingSearch{
font-weight: 600;
color: #222;
font-size: 1rem;
text-align: center;
margin: 1rem auto;
}
.trandingServices a{
background-color: #f5b4021e;
margin: .5rem;
padding: .2rem .6rem;
border-radius: 1.76rem;
font-weight: 400;
text-decoration: none;
cursor: pointer;
font-size: .85rem;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
color: #222;
border-bottom: 2px solid #f0e9fe;
font-weight: 500;
}
.trandingServices .trandingBox{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}
.trandingServices a:hover{
background-color: #fff;
border-bottom: 2px solid #f5b402;
}
/* search recomendation */
.recommendations {
position: absolute;
top: 50px;
left: 0;
right: 0;
background: #fff;
border: 1px solid #ccc;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
display: none;
z-index: 1000;
border-radius: 10px;
width: 90%;
margin: auto;
}
@media(min-width:991px){
.recommendations{
width: 60%;
margin: auto;
}
}  
.searchContainer {
position: relative;
}
.recommendation {
padding: 10px 12px;
cursor: pointer;
font-weight: 400;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
color: #2e2e2e;
border-bottom: 1px solid #e2e2e2;
}
.recommendations .recommendation:first-child{
border-radius: 10px 10px 0 0;
}
.recommendations .recommendation:last-child{
border-radius: 0px 0px 10px 10px;
}
.recommendation:hover {
background: #f0f0f0;
}     

/* launch company */
.launchCompany{
  background: linear-gradient(395deg, rgba(255, 74, 0, .149) 10%, #fffaf8, #fffaf8, #fffaf8, #fffaf8, hsla(45, 95%, 75%, .2) 90%), hsla(35, 58%, 87%, .29);
  position: relative;
  padding: 7rem 0 4rem 0;
}
.launchCompany .bgsvg{
  position: absolute;
  top: 0;
  max-width: 100%;
}
.launchCompany .bgsvg:nth-of-type(1){
  left: 0;
}
.launchCompany .bgsvg:nth-of-type(2){
  right: 0;

}
.launchCompany .launchHeader{
  position: relative;
  z-index: 99;
}
.launchCompany .launchHeader h2{
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.launchCompany .launchHeader h2 span{
  color: #f5b402;
}
.launchCompany .launchHeader p{
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.5;
  max-width: 700px;
  margin: auto;
  margin-bottom: 3rem;
}
.launchCompany .selectBox{
  max-width: 700px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 99
}
.launchCompany .selectBox .selectItem{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.launchCompany .selectBox .selectItem select{
  color: #232323;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 600;
  appearance: none;
  padding: 15px 16px;
  border-radius: 0 500px 500px 0;
  border: 1px solid #fdc9b7;
  border-left: none;
  width: 265px;
  box-shadow: none;
  cursor: pointer;
}
.launchCompany .selectBox .selectItem:nth-of-type(1){
  margin-right: .5rem;
}
.launchCompany .selectBox .selectItem span{
  color: #232323;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  appearance: none;
  padding: 15px 16px;
  border-radius: 500px 0 0 500px;
  border: 2px solid #fdc9b7;
  border-left: none;
  background: #fff6f2;
  color: #fb815e;
}
.launchCompany .startBtn{
  text-align: center;
  margin-top: 1rem;
}

.launchCompany .startBtn button{
    border: 1px solid  #f5b402;
    background: linear-gradient(239deg, hsla(0, 0%, 100%, .2) 8.52%, hsla(0, 0%, 100%, 0) 51.09%), #f5b402;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    box-shadow: inset 0 0 2px 2px hsla(0, 0%, 100%, .5), inset 0 0 2px 2px hsla(0, 0%, 100%, .5), 0 4px 6px -2px rgba(16, 24, 40, .03), 0 12px 16px -4px rgba(16, 24, 40, .08);
    display: inline-flex;
    justify-content: center;
    padding: 16px 14px;
    cursor: pointer;
    border-radius: 500px;
    font-size: 16px;
    line-height: 24px;
    font-style: normal
}
.launchCompany .trustPilot{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.launchCompany .trustPilot span{
    align-items: center;
    padding: 6px 20px;
    color: #1c1b18;
    font-weight: 600;
    border-radius: 500px;
    border: 1px solid #feede7;
    background: #fff;
    box-shadow: 0 12px 16px -4px rgba(16,24,40,.08),0 4px 6px -2px rgba(16,24,40,.03);
    margin-bottom: 25px;
}
.launchTag{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.launchTag .tags ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.launchTag .tags ul li{
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-weight: 500;
  color: #2e2e2e;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.launchTag .tags a{
  display: inline-block;
  margin-top: 1rem;
  font-weight: 600;
  color: #2e2e2e;
  text-decoration: underline;
}
@media(max-width:991px){
  .launchTag .tags ul{
    flex-direction: column;
  }
}
@media(min-width:991px){
  .launchTag .tags ul li{
    margin-right: 1rem;
  }
}
.launchTag .tags ul li strong{
  font-weight: 600;
}
.launchTag .tags ul li svg{
  margin-right: .5rem;
}
@media(min-width:991px){
    .launchCompany .startBtn button{
      width: 242px;
  }
}

@media(max-width:768px){
  .launchCompany .selectBox{
    flex-direction: column;
  }
  .launchCompany .selectBox .selectItem:nth-of-type(1){
   margin-bottom: 1rem;
  }
}
/* plan grow */
.planGrow{
  padding: 3rem 0;
}
.planGrow .container{
  max-width: 1200px;
}
.planGrow .plangrowHeader h2{
  color: #434343;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.4;
  max-width: 800px;
  margin: auto;
  margin-bottom: 1rem;
  letter-spacing: .5px;
}
.planGrow .plangrowHeader p{
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4;
  max-width: 600px;
  margin: auto;
  margin-bottom: 1rem;
}
.planGrow .plangrowHeader p strong{
  font-weight: 600;
} 

/* ==tab=== */
.tab-flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.planGrowContent {
  display: none;
}

.planGrowContent.active {
  display: block;
}
.planGrow .planGrowContentBox{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.planGrowContentBox .tab-flex{
    display: flex;
    justify-content: space-evenly;
    border-radius: 500px;
    padding: 4px;
    border: 1px solid #e5e5e5;
    background: #fff;
    box-shadow: 0 1px 3px rgba(16,24,40,.1),0 1px 2px rgba(16,24,40,.06);
    position: absolute;
    top: 0;
    z-index: 99;

}
.planGrowContentBox .tab-link{
  color: #232323;
  box-shadow: inset 0 0 2px 2px hsla(0, 0%, 100%, .5);
  border-radius: 500px;
  font-weight: 600;
  padding: 12px 35px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s;
  display: inline-block;
  font-size: 1rem;
  position: relative;
  border: 1px solid #fff;
  margin: 0 .1rem;
}
.planGrowContentBox .tab-link.active {
  color: #fff;
  border: 1px solid #f5b402;
  background: var(--Gradient-Orange-1, linear-gradient(239deg, hsla(0, 0%, 100%, .2) 8.52%, hsla(0, 0%, 100%, 0) 51.09%), #f5b402);
  box-shadow: inset 0 0 2px 2px hsla(0, 0%, 100%, .5);
}
.planGrowContentBox .tab-link:hover {
  color: #fff;
  border: 1px solid #f5b402;
  background: var(--Gradient-Orange-1, linear-gradient(239deg, hsla(0, 0%, 100%, .2) 8.52%, hsla(0, 0%, 100%, 0) 51.09%), #f5b402);
  box-shadow: inset 0 0 2px 2px hsla(0, 0%, 100%, .5);
}
.planGrow .planGrowContainer{
  position: relative;
  top: 27px;
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
  border-radius: 40px;
  padding: 60px 20px 40px 20px;
  display: flex;
  flex-direction: column;
}
.planGrow .planGrowContainer .planGrowContentItem{
  background-color: #fff;
  border: 1px solid  #f5f5f5;
  border-radius: 24px;
  box-shadow: 0 1px 2px rgba(16,24,40,.05);
  padding: 10px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.planGrow .planGrowContainer .planGrowContentImg img{
  display: flex;
  width: 80px;
  height: 80px;
}
.planGrow .planGrowContainer .planGrowContentPara a{
   font-weight: 500;
   color: #000;
   margin-left: .65rem;
   display: -webkit-box;
   line-clamp: 2;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   line-height: 1.5;
}
.planGrow .planGrowContainer .planGrowContentPara a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.planGrow .planGrowContainer .viewArticle{
  text-align: center;
  margin-top: 2rem;
}
.planGrow .planGrowContainer .viewArticle button{
    border-radius: 2137px;
    border: 1px solid  #ad810a;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    padding: 15px 30px;
    background: var(--Gradient-Orange-1, linear-gradient(239deg, hsla(0, 0%, 100%, .2) 8.52%, hsla(0, 0%, 100%, 0) 51.09%), #f5b402);
}
.planGrow  .growImg{
 display: flex;
 justify-content: center;
 margin-top: 2.5rem;
}
@media(min-width:991px){
  .planGrow  .growImg{
    margin-left: 2rem;
   }
}
@media(max-width:600px){
  .planGrowContentBox .tab-link {
      padding: 12px 20px;
  }
}
.planGrow  .growImg img{
    border-radius: 80px;
    max-width: 100%;
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

/* home faqs */
.faq{
  padding: 3rem 0;
  background-color: #324259;
  color: #fff;
}
.faq .container{
  max-width: 1200px;
}
.faq h2{
  font-weight: 700;
  letter-spacing: .5px;
  font-size: 2.8rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.faq .faqGroup{
  margin-bottom: 3rem;
}
.faq .faqGroup h6{
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  line-height: 1.4;
  color: #fff;
}
.faq .faqGroup p{
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  line-height: 1.8;
  color: #ADB1BB;
}
/* why choose us */
.whysChooseUs{
  padding: 2rem 0;
}
.whysChooseUs img{
  object-fit: contain;
  max-width: 100%;
  border-radius: 100px;
}
.whysChooseUs h2{
  color: #000;
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
.whysChooseUs h4{
  color: #000;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.whysChooseUs p{
  color: #2e2e2e;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.whysChooseUs p a{
  color: #2e2e2e;
  font-weight: 600;
  text-decoration: underline;
}
.whysChooseUs .hr{
  height: 6px;
  background-color: #000;
}
@media(max-width:991px){
  .whysChooseUs img{
   display: flex;
   margin: auto;
   margin-top: 2rem;
   border-radius: 0;
  }
}
.ourSoftware .serviceImgBox .blockImg{
  width: 70%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 50px 0 0 50px; 
}
.ourSoftware .serviceImgBox{
  position: relative;
}
.ourSoftware .serviceImgBox .serviceCard{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5%;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #fafafa;
  z-index: 99;
  padding: 20px;
}
.ourSoftware .serviceImgBox .serviceCard img{
  width: 40px;
}
.ourSoftware .serviceImgBox .serviceCard p{
  font-weight: 600;
  color: #2e2e2e;
  font-size: .9rem;
  margin-top: 2rem;
}
.ourSoftware .btnGroup{
  margin-top: 2rem;
}
.ourSoftware .btnGroup a{
  display: inline-block;
  margin-bottom: 1.2rem;
  position: relative;
  z-index: 0;
  outline: 0;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: middle;
  line-height: 28px;
  letter-spacing: -.4px;
  font-weight: 600;
  font-size: 18px;
  border: 2px solid #c6ccd5;
  padding: 9px 30px;
  background-color: #fff;
  color: #000;
  border-radius: 3rem;
  margin-right: 1rem;
}
.ourSoftware .btnGroup a:hover{
 background-color: #c6ccd5;
}
.ourSoftware .btnGroup a.activeBtn{
  background-color: #f5b402;
  color: #fff;
  border: 2px solid #f5b402;
 }
 .ourSoftware .serviceType .serviceImgBox:nth-of-type(2) h2{
font-weight: 600;
margin-bottom: 2rem;
font-size: 1.6rem;
line-height: 1.4;
color: #2e2e2e;
 }
 .ourSoftware .serviceType .serviceImgBox:nth-of-type(2) p{
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 1rem;
  line-height: 1.4;
  color: #2e2e2e;
  max-width: 500px;
   }