.serviceSection{
    padding: 6rem 0 3rem 0;
}
body{
    background-color: #f1f1f3;
}
.serviceSection .container{
   max-width: 950px;
}
.serviceSection .breadcrumbs ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.serviceSection .breadcrumbs ul li{
    margin-right: .5rem;
    font-weight: 500;
    color: #000;
    letter-spacing: .4px;
}
.serviceSection .breadcrumbs ul li a{
    color: #1303d4;
}
.serviceSection .breadcrumbs ul li:last-child{
    margin-right: 0;
}
.serviceSection h2{
    margin-bottom: 1.6rem;
    font-weight: 600;
    font-size: 1.4rem;
    color: #2e2e2e;
    text-transform: uppercase;
}
.serviceSection .serviceBox{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-height: 100%;
    align-items: center;
    border-radius: .75rem;
    border: 1px solid #F1F1F4;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
}

.serviceSection .serviceBox .serviceDesc {
    min-height: 7rem;
}
.serviceSection .serviceBox .serviceDesc p{
    font-weight: 600;
    color: #000;
    font-size: .9rem;
    line-height: 1.5;
    margin-bottom: .5rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.serviceSection .serviceBox .serviceDesc span{
   color: #252F4A;
   line-height: 1.25rem;
   font-size: .8125rem;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
}
.serviceSection .serviceBox .serviceImage img{
   max-width: 100%;
   object-fit: contain;
   border-radius: .75rem .75rem 0 0;
}
.serviceSection .serviceBox .serviceDesc{
    padding: 1.25rem;
 }