body{
    background-color: #fcfbfe;
}
.container{
    max-width: 1400px;
}
.dashboardSection{
    padding-top: 6rem;
    padding-bottom: 2rem;
}
.dashboardSection .dashBox{
    box-shadow: 1px 5px 16px -1px rgba(51, 65, 85, .0588235294);
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
    min-height: 100%;
}
.dashboardSection .dashBox .crBox{
    display: flex;
    justify-content: space-between;
}
.dashboardSection .dashBox .crBox .icon span{
   font-size: 2.2rem;
   border-radius: 10px;
   height: 3.2rem;
   width: 3.2rem;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.dashboardSection .dashBox .crBox .icon span svg{
   height: 2.2rem;
   width: 2.2rem;
 }
.dashboardSection .dashBox .crBoxHeading span{
   display: block;
 }
 .dashboardSection .dashBox .crBoxHeading span:nth-of-type(1){
    font-weight: 600;
    font-size: 20px;
    color: #6c6a71;
    margin-bottom: 1rem;
  }
  .dashboardSection .dashBox .crBoxHeading span:nth-of-type(2){
    font-weight: 600;
    font-size: 20px;
    color: #000;
    margin-bottom: 1rem;
  }
  .dashboardSection .dashBox  .btnBox a{
   border-radius: 12px;
   color: #000;
   background-color: #f5b402;
   font-weight: 500;
   padding: .7rem 1.2rem;
   display: inline-block;
   text-transform: capitalize;
   cursor: pointer;
   letter-spacing: .5px;
 }
 .dashboardSection .dashBox  .text-sm{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
  }
  .insightBox {
    box-shadow: 0px 2px 20px 2px rgba(97, 61, 193, .0392156863);
    padding: 30px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 24px;
    margin-bottom: 2.4rem;
}
.insightBox .tblHeading {
    font-size: 1.4rem;
    color: #231f2b;
    font-weight: 600;
    margin-bottom: 1rem;
}
.matricsTable {
    border: 1px solid #EFECF9;
    border-radius: 16px;
}
.matricsTable .tablecontainer {
    overflow: auto;
    border-radius: 16px;
}
.matricsTable .tablecontainer table {
    border: none;
    text-align: left;
    overflow: hidden;
    margin: 0;
    border-collapse: collapse;
    overflow-x: scroll;
    width: 100%;
}
.matricsTable .tablecontainer table thead tr {
    background-color: #f5b40246;
    text-align: left;
}
.matricsTable .tablecontainer table thead tr th {
    padding-right: 16px;
    padding-left: 16px;
    font-weight: 600;
    color: #000;
    padding: 16px 24px;
    font-size: 14px;
    text-align: right;
}
.matricsTable .tablecontainer table tbody tr td {
    padding-right: 16px;
    padding-left: 16px;
    font-weight: 500;
    color: #6C6A71;
    padding: 8px 24px;
    font-size: 14px;
    text-align: right;
}
.tableFooter{
    display: flex;
    justify-content: right;
    margin-top: 1rem;
    gap: 25px;
}
.tableFooter a svg{
   width: 1.2rem;
   height: 1.2rem;
   fill: #1a0dab;
}
.tableFooter a {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   color: #1a0dab;
   font-weight: 500;
   font-size: .9rem;
 }
 .tableFooter a.disabled {
    opacity: .5;
    pointer-events: none;
    cursor: none;
    user-select: none;
  }
  .amalgamated .badges {
    border-radius: 1.7rem;
    padding: .1rem .4rem;
    font-size: .66rem;
    display: inline-flex
;
    align-items: center;
    justify-content: center;
    width: 100px;
    color: #ff9b0f;
    background-color: rgba(255, 235, 207, .6);
    font-weight: 500;
    width: fit-content;
}
.amalgamated .badges small {
    width: .38rem;
    height: .38rem;
    background-color: #ff9b0f;
    border-radius: 50%;
    margin-right: .25rem;
}
.recentBox .compName a{
    font-weight: 500;
    color: #1a0dab;
    font-size: 14px;
    display: block;
}

.recentBox .recentItem{
   display: flex;
   justify-content: space-between;
   margin-bottom: 1rem;
}

.signRegister{
	display: flex;
	align-items: center;
}
.signRegister .dropdown-toggle::after {
	display: none !important;
}

.signRegister .dropdown-toggle img{
	width: 2.5rem;
	height: 2.5rem;
	border: 1px solid #ccc;
	border-radius: 50%;
	object-fit: cover;
}
.signRegister .dropdown-menu{
	padding-top: 0;
	padding-bottom: 0;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	border: none;
}
.signRegister .dropdown-menu .dropdown-item{
	line-height: 3;
	font-weight: 500;
	font-size: .9rem;
}
.signRegister .dropdown-menu li:first-child .dropdown-item{

border-radius: .375rem .375rem 0 0;
}
.signRegister .dropdown-menu li:last-child .dropdown-item{
	border-radius: 0 0 .375rem .375rem;
}
.signRegister .dropdown-menu .dropdown-item:hover{
	background-color: #f5b4020e;
}
.signRegister .dropdown-menu .dropdown-item:focus{
	background-color: #f5b402;
	color: #fff;
}
.signRegister .dropdown-menu .userName{
	line-height: 1.4;
	padding: .8rem;
}
.signRegister .dropdown-menu .userName span{
	font-weight: 500;
	font-size: .9rem;
	display: block;
	color: #000;
}
.signRegister .dropdown-menu .userName small{
	font-weight: 500;
	font-size: .7rem;
	display: block;
}