.nriService{
    padding: 8rem 0 4rem 0;
    background-color: #f5b4023f;
}
.nriService .flexbx {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.nriService .txt {
    display: flex;
    align-items: center;
}

.nriService .txt h1 {
    color: #000;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 31px;
    line-height: 40px;
    padding-bottom: 15px;
}
.nriService .bnr .txt p {
    line-height: 25px;
    font-size: 16px;
    color: #000;
    margin: 0 0 10px;

}
.nriService .txt .wel-txt ul {
    margin-top: 15px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.nriService .txt .wel-txt ul li {
    margin: 0;
    background: url(https://tax2win.in/assets-new/img/tick-icon2.png) no-repeat 0 2px;
    padding: 0 10px 9px 25px;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    width: 45%;
    margin-bottom: 0;
    background-size: 17px;
}
.nriService .whatu-get {
    padding: 5px 0;
    position: relative;
    z-index: 9;
}
.nriService .whatu-get aside.right {
    background: #fff;
    padding: 40px 20px 60px 20px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0/10%);
    border: solid 1px #f5b402;
    border-radius: 10px;
    width: 350px;
    max-width: 100%;
}
.nriService .whatu-get aside.right h4 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.nriService .whatu-get aside.right p {
    line-height: 25px;
    font-size: 18px;
    color: #36455b;
    margin: 0 0 10px;
    text-align: center;
}
.nriService .whatu-get aside.right .price_tag {
    color: #929292;
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
}
.nriService .whatu-get aside.right .price_tag i {
    font-style: normal;
    text-decoration: line-through;
}
.nriService .whatu-get aside.right .price_tag {
    color: #929292;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}    
.nriService .whatu-get aside.right h5 {
    color: #0d2349;
    font-size: 48px;
    margin-top: 20px;
    font-weight: 700;
    padding: 10px 0;
    margin-bottom: 10px;
    line-height: 1.1;
    text-align: center;
}
.nriService .whatu-get aside.right h5 small {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #777;
    margin-top: .8rem;
}
.nriService .whatu-get aside.right .bookingBtn {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    text-decoration: none;
    background: #f5b402;
    padding: 10px 30px;
    color: #fff;
    border-radius: 3px;
    background-clip: padding-box;
    border: none;
    text-align: center;
}

@media(max-width:991px){
    .nriService .whatu-get{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .nriService .whatu-get aside{
       width: 96% !important;
    }
    .nriService .whatu-get aside p{
        text-align: center;
     }
}
/* about plan */
.aboutPlan {
    padding: 50px 0;
    position: relative;
    background: #fff;
}
.aboutPlan h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.aboutPlan ul {
    margin-top: 25px;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
}
.aboutPlan ul li{
    margin: 0;
    background: url(https://tax2win.in/assets-new/img/tick-icon2.png) no-repeat 0 2px;
    padding: 0 10px 9px 25px;
    font-size: 14px;
    color: #000;
    margin-top: 5px;
    background-size: 16px;
    font-weight: 500;
}
.aboutPlan .raqBtn {
    margin-top: 30px;
}
.aboutPlan .raqBtn a{
    background: #f5b402;
    padding: 12px 40px;
    border: none;
    color: #fff;
    border-radius: 50px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
}
.aboutPlan .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
.aboutPlan .nriimg {
    margin-top: 100px;
}

/* tabsection */
.tabsection{
    padding: 4rem 0;
}
.tabsection .tabs_section{
    background-color: #f5b402;
    padding: .5rem 1rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tabsection .tabs_section a{
    background-color: #fff;
    margin: 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.76rem;
    padding: .25rem 1rem;
    color: #2e2e2e;
    font-weight: 500;
    letter-spacing: .5px;
}
.tabsection .tabs_section a img{
    width: 40px;
    height: 40px;  
    display: inline-block;
    margin: 0 .5rem;
}
@media(max-width:991px){
    .tabsection .tabs_section{
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .tabsection .tabs_section a{
       margin-bottom: 1rem;
    }
}
@media(max-width:550px){
    .tabsection .tabs_section{
       flex-direction: column;
    }
}
/* how it works */
.how-it-works{
    background: #f7f9fb;
    padding: 40px 0;
    text-align: center;
}
.how-it-works h2{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: .5px;
}
 .how-it-works .wrapper {
    display: flex;
    flex-direction: row;
}
 .how-it-works .box {
   width: 24%;
    text-align: center;
    background: #fff;
    border: solid 1px #e6e9ed;
    padding: 15px;
    height: 210px;
    border-radius: 6px;
    background-clip: padding-box;
    margin: 10px 2px 0 2px;
}
 .how-it-works .box figure {
    height: 90px;
}
 .how-it-works .box figure img {
    margin: 0 auto;
}
.how-it-works article  {
    display: block;
    text-align: center;
}
.how-it-works article .badge {
    width: 29px;
    height: 29px;
    border: solid 1px #f5b402;
    background: #fff;
    border-radius: 50%;
    background-clip: padding-box;
    color: #f5b402;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
}
.how-it-works article .badgeBox{
    text-align: center;
}
 .how-it-works article span {
    font-size: 15px;
    color: #28323c;
    font-weight: 500;
}
.how-it-works article .step {
    color: #f5b402;
    margin-right: .5rem;
    font-weight: 600;
    letter-spacing: .5px;
}
@media(max-width:991px){
    .how-it-works .wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
        border: 1px solid red;
    }
    .how-it-works .box {
         width: 48%;
     }
}
@media(max-width:500px){
    .how-it-works .wrapper {
        justify-content: left;
    }
    .how-it-works .box {
        height: fit-content;
     }
}
/* faq */
.faq{
    margin: 2rem auto;
}
.faq h1{
   font-weight: 700;
   font-size: 35px;
   color: #222;
   margin-bottom: 1rem;
}
.faq .faq_question{
    border-left: 5px solid #f5b402;
    background-color: #f5f5f5;
    padding: 1rem .5rem;
    border-radius: 5px 0 0px 5px;
    display: flex;
    flex-direction: row;
}
.faq .faq_question h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    display: flex;
}
.faq .faq_answer{
    border-left: 5px solid #222;
    background-color: #fff;
    padding: 1rem .5rem;
    border-radius: 5px 0 0px 5px;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1.6rem;
}
.faq .faq_answer p{
    font-weight:500;
    font-size: 16px;
    line-height: 1.4;
    color: #3c4d5c;
    display: flex;
    align-items: flex-start;
}
.faq .faq_answer p strong{
    font-weight: 700;
    padding: 0 .5rem;
    font-size: 35px;
    color: #222;
    line-height: 1;
    margin-right: 1rem;
}
.faq .faq_question h3 strong{
    font-weight: 700;
    padding: 0 .5rem;
    font-size: 35px;
    color: #f5b402;
    margin-right: 1rem;
}

/* review */
.testimonial{
    background-color: #f1f5f8;
    padding: 2rem 0 .5rem 0;
}
.testimonial article {
    background: #fff;
    width: auto;
    min-height: 280px;
    margin: 2rem 1rem;
    text-align: left;
    border-radius: 20px;
    box-shadow: none;
    padding: 60px;
}
.testimonial article p {
    color: #253243;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 24px;
}
.testimonial article .bottom {
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
    text-align: left;
}
.testimonial article .bottom .c_detail {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    bottom: 0;
    margin-left: 2rem;
}
.testimonial article .bottom .c_detail span {
    color: #222;
    font-weight: 700;
    font-size: 15px;
    margin-top: 9px;
    display: block;
    text-transform: uppercase;
}
.testimonial article .bottom .c_detail img {
    padding: 0.2rem 1rem;
    background: #fff;
    width: 100px;
    height: auto;
    box-shadow: 0 0 15px rgba(0,0,0,.08);
    border-radius: 50px;
}
.slick-dots{
    display: flex;
    justify-content: center;
    position: static;
}
.slick-dots li {
    list-style-type: none;
    font-family: "Californian FB", serif;
}
.slick-dots li button {
    background: #f5b40233;
    width: 12px;
    height: 12px;
    border-radius: 26px;
    margin: 0 5px;
    transition: .3s;
    font-family: "Californian FB", serif;
}
.slick-dots .slick-active button {
    background: #f5b402;
   
}
.slick-dots li button:before{
    font-family: "Californian FB", serif;
}
.slick-dots li{
    position: static !important;
}
.slick-dots li button:before {
    display: none;
}
.testimonial h2{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: #000;
    margin: 0;
}
.testimonial h4{
    line-height: 27px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}
@media(max-width: 600px){
    .testimonial h2{
        font-weight: 600;
        font-size: 28px;
    }
    .testimonial h4{
        font-size: 15px;
    }
    .testimonial article {
        padding: 30px 15px;
    }
    .testimonial article p{
        font-size: 15px;
    }
    .testimonial article .bottom .c_detail span{
        font-size: 13px;
    }
}
