.refundPolicy{
    padding-top: 5rem;
}
body{
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1150px;
}
.refundPolicy h1{
    color:  #000;
    font-size: 54px;
    font-weight: 700;
    line-height: 76px;
    margin-bottom: 1rem;
}
.refundPolicy .policyBox{
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, .5);
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin: 32px 0 50px 0;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
}
.refundPolicy .badge img{
    height: 140px;
    width: 140;
    object-fit: contain;
}
.refundPolicy .policyBox h2{
    font-size: 22px;
    font-weight: 600;
    color: black;
    margin-bottom: 1rem;
}
.refundPolicy .policyBox p{
    font-size: 16px;
    line-height: 34px;
    color: #4d4d4d;
    font-weight: 500;
    margin-bottom: 1rem;
}
@media(max-width:600px){
    .refundPolicy h1{
        color:  #000;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 1rem;
    }
}