.tradeinsight{
    padding-top: 6rem;
    padding-bottom: 2rem;
}
.container{
    max-width: 1000px;
    
}
body{
    background-color: #f9f9f9;
}
.insightHeadr{
    background-color: #fff3cd;
    padding: 2rem .8rem;
    color: #664d03;
    border-radius: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.insightHeadr .tradeName{
    font-weight: 600;
    font-size: 2rem;
    position: relative;
    margin-bottom: .8rem;
}
.insightHeadr .tradeName sup{
    position: absolute;
    font-size: .9rem;
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: .2rem;
    color: #000;
    background-color: #f5b402;
}
.insightHeadr .ownerName{
   font-weight: 500;
   font-size: 1rem;
}
/* card */
 .tradeinsight .tradeCard {
      background: #fff;
      border-radius: 0;
      padding: 15px;
    }

    .tradeCard .section {
      margin-bottom: 28px;
    }

    .tradeinsight .section:last-child {
      margin-bottom: 0;
    }

    .tradeinsight .label {
      font-size: 0.85rem;
      color: #64748b;
      text-transform: uppercase;
      margin-bottom: 6px;
      letter-spacing: 0.6px;
    }

    .tradeinsight .value {
       font-size: 1.1rem;
      font-weight: 600;
      color: #0f172a;
    }

    .tradeinsight .highlight {
      font-size: 1.15rem;
      font-weight: 600;
      color: #1e293b;
    }

    .tradeinsight .address {
      font-weight: 500;
      color: #475569;
      font-size: 0.96rem;
      margin-top: 4px;
      line-height: 1.5;
    }

    .tradeinsight .badge {
      display: inline-block;
      padding: 4px 10px;
      font-size: 0.85rem;
      font-weight: 600;
      color: white;
      background-color: #f5b402;
      border-radius: 999px;
      margin-top: 5px;
    }

    .tradeinsight .icon-label {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      font-size: 1rem;
      font-weight: 600;
      color: #334155;
      margin-bottom: .5rem;
    }

    .tradeinsight .icon-label svg {
      width: 18px;
      height: 18px;
      stroke: #3b82f6;
    }
   .tradeinsight .icon-label span{
      display: block;
    }
    .tradeinsight .icon-label .icon{
      font-size: 2rem
    }
    .tradeinsight .desc{
        font-weight: 500;
        margin: 1rem auto;
    }
     .doc-card {
      background: #ffffff;
      padding: 15px;
      border-radius: 0;
    }

    .doc-card h2 {
      margin-top: 0;
      font-size: 1.4rem;
      font-weight: 600;
      color: #1e293b;
      margin-bottom: 20px;
    }

    .doc-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 0;
      border-bottom: 1px solid #e2e8f0;
      transition: background 0.2s;
    }

    .doc-row:last-child {
      border-bottom: none;
    }

    .doc-row:hover {
      background-color: #f1f5f9;
    }

    .doc-info {
      display: flex;
      align-items: center;
      gap: 12px;
      color: #334155;
      font-weight: 500;
    }

    .doc-index {
      width: 24px;
      font-weight: 600;
      color: #475569;
    }

    .doc-name {
      font-size: 1rem;
    }

    .doc-date {
      font-size: 0.95rem;
      color: #64748b;
      font-weight: 500;
    }
    .tradeinsight .desc p{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
@media(max-width:600px){
    .doc-card {
        padding: 10px;
    }
    .tradeinsight .tradeCard {
        padding: 0;
    }
     .tradeinsight .tradeCard .mb-5 {
       margin-bottom: 1rem !important;
    }
}

    /* ----- */
 @media(max-width: 560px){
   .tradeinsight .desc p{
    flex-direction: column;
  }
 }
  /* serach box */
  .recommendations{
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
  border-radius: 10px;
  margin: auto;
  max-width: 100%;
  width: 700px;
  max-height: 300px;
  overflow-y: auto;
}

.recommendation{
    padding: 16px 12px;
    cursor: pointer;
    font-weight: 400;
    color: #2e2e2e;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: .95rem;
}
.recommendation:hover{
   background-color: #f5b4022e;
}
.recommendations .recommendation:last-child{
    border-bottom: none;
}
.searchBox{
    position: relative
}
.recommendation svg{
  width: 16px;
  height: 16px;
  display: none;
}
.recommendation span {
    display: flex;
    flex-direction: row;
    text-align: left;
}
.recommendation .active{
    color: #75ba75;
    font-size: .75rem;
    display: inline-flex;
    align-items: center;
}
.recommendation  .badges{
   height: .4rem;
   width: .4rem;
   border-radius: 50%;
   background-color: #27be69;
   margin-left: .4rem;
   margin-right: .4rem;
}
.recommendation:hover svg{
    display: inline-block;
}
@media (max-width:600px){
    .searchSection .logo{
       display: none;
     }
}
.searchSection .logo img{
    object-fit: contain;
    width: 440px;
    height: 80px;
    display: block;
    margin: auto;
    max-width: 100%;
}
.searchSection{
    background-color: #f9f9f9;
}
.searchSection .logo{
   margin-bottom: .5rem;
}
.searchSection .container{
   max-width: 1200px;
   text-align: center;
 }
.searchSection {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.searchSection form{
    max-width: 100%;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    height: 60px;
    padding: 24px 20px;
    border-radius: 88px;
    border: 1px solid #f5b402;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 0px 0px 6px #f4ebff, 0px 1px 2px 0px rgba(16, 24, 40, .0509803922);
    margin: 20px 0;
    background-color: #fff;
    margin: auto;
    margin-bottom: 2.4rem;
}
.searchSection form .form-control{
   box-shadow: none;
   padding: 0;
   font-size: 1rem;
   height: 2.2rem;
   border: none;
}
.searchSection form .form-control::placeholder{
  color: #999;
 }
 .searchSection form button{
   background-color: transparent;
   border: none;
   outline: none;
 }
 .searchSection p{
   color: #6c6a71;
   font-weight: 500;
   margin-bottom: 2rem;
   font-size: 1rem;
   line-height: 1.4;
 }
  @media(max-width: 560px){
  .searchSection form{
    height: 40px;
  }
    .searchSection form button img{
    width: 20px;
  }
  .mobilePadding{
    padding: 0;
  }
}
@media(max-width: 720px){
  .searchSection form{
    width: 500px;
  }
}
@media(max-width: 500px){
  .searchSection form{
    width: 300px;
  }
}
.row{
  width: 100%;
  margin: auto;
}
.tradeinsight .border_bottom{
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}
.border_bottom .col:nth-of-type(1){
  padding-left: 0;
}
  .icon-label div{
  font-size: 1rem;
  color: #475569;
  font-weight: 500;
}
@media(max-width:600px){
  .border_bottom .col{
    padding: 0;
  }
  .icon-label div{
  font-size: .9rem;
}
.doc-card h2 {
    font-size: 1rem;
    margin-bottom: 10px;
}
.doc-name{
  font-size: .8rem;
}
.doc-date{
  font-size: .8rem;
}
}
/* faqs */
.faqs .container{
  max-width: 1000px;
}
.faqs{
  padding-top: 2rem;
}
.faqs .accordion {
    margin: 0;
}
.faqs .sectionPara {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
}
.faqs h2 {
    margin-bottom: 1rem;
    margin-left: 0;
}
/* popular seraches */
.popularSearches{
  background-color: #fff;
}
.popularSearches h2{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #071437;
}
.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border-radius: .25rem;
    padding: .5rem .5rem;
    border: 1px solid #fff0;
    font-weight: 500;
    font-size: .6875rem;
    padding: .3125rem .375rem;
    color: #4B5675;
    border-color: #fff0;
    background-color: #f5b40219;
}
.link {
    font-weight: 600;
    color: #000;
}
.card-header {
    display: flex;
    min-height: 56px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F1F1F4;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: transparent;
}    
.listLinks{
    gap: 10px;
}
